.container h1{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: black;
    text-align: center;
}
 h2{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: black;
    text-align: center;
}


.footer{
    background-color: lightblue;
    padding-top: 1em;
    padding-bottom: 1em;
}

.banner{
    margin-top: 1em;
    margin-bottom: 1em;
}

.no-padding{
    padding-right: 0;
    padding-left: 0;
}

.bg-lightblue{
    background-color: lightblue;
}

.card-deck{
    margin-top: 1em;
}

.bd-example{
    margin-top: 1em;
}

.media{
    margin-top: 2em;
}

.footer{
    margin-top: 2em;
}

.btn{
    margin-top: 1em;
}

.barre{
    height: 1px;
    background-color: lightgray;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn:hover{
    background-color: rgb(137, 194, 212);
}

.openpage{
    background-color: rgb(137, 194, 212);
}
.infoplus a{ 
    text-decoration: none;
    color: lightgray;
}
