.container h1{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: black;
    text-align: center;
}

.footer{
    background-color: lightblue;
    padding-top: 1em;
    padding-bottom: 1em;
}

.banner{
    margin-top: 1em;
    margin-bottom: 1em;
}

.no-padding{
    padding-right: 0;
    padding-left: 0;
}